// Ellipsis functionality
@mixin ellipsis() {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Clearfix
@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
