<ul class="cl-filter">
	<li class="cl-filter__item">
		<button class="cl-filter__button cl-filter__button--active">
			All
		</button>
	</li>
	<li class="cl-filter__item">
		<button class="cl-filter__button">
			Atoms
		</button>
	</li>
	<li class="cl-filter__item">
		<button class="cl-filter__button">
			Molecules
		</button>
	</li>
	<li class="cl-filter__item">
		<button class="cl-filter__button">
			Organisms
		</button>
	</li>
</ul>