
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Component Library</title>
	<meta content="telephone=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Karlis Upitis">
	<!-- place for twitter/facebook cards -->

	<!-- style -->
	
	<link rel="stylesheet" type="text/css" href="/assets/css/styleguide.css">
</head>
<body>
	
	<div class="clib" id="page">
		<header class="clib__header"></header>
		<div class="clib__wrapper">
			<div class="clib__container">
				<main class="clib__main" role="main">
					
<div class="st-folder">
	
	<div class="st-folder__readme"><h1 id="news-article">News Article</h1>
<p>Here goes documentation for Just another news article out there.
Regular markdown file which is rendered as HTML.</p>
</div>
	
	<section class="st-folder__template">
		<header class="st-folder__header">
			<h2 class="st-folder__path">
				<a href="/components/news-article/raw.news-article.html">news-article/news-article.twig</a>
			</h2>
		</header>
		<div class="st-folder__content">
			<div class="st-folder__component" style="max-height: 100vh">
<article class="news-article ">
	<figure class="news-article__figure">
		<img src="http://lorempixel.com/400/200/sports/" alt="Sports image" class="news-article__img">
	</figure>
	<div class="news-article__content">
		<h3 class="news-article__title">Lorem ipsum dolor.</h3>
		<p class="news-article__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium distinctio molestias veniam consequatur ab quasi facilis nihil minus necessitatibus.</p>
		<p class="news-article__tags">sport</p>
	</div>
</article></div>
			<div class="st-folder__code">
				<div class="cl-tabs st-folder__code">
	<ul class="cl-tabs__list">
					<li class="cl-tabs__item" id="tab-tmpl" role="tab" aria-selected="true" aria-controls="panel-tmpl">Markup</li>
					<li class="cl-tabs__item" id="tab-style" role="tab" aria-selected="false" aria-controls="panel-style">Style</li>
					<li class="cl-tabs__item" id="tab-data" role="tab" aria-selected="false" aria-controls="panel-data">JSON</li>
			</ul>
		<div class="cl-tabs__panel" id="panel-tmpl" role="tabpanel" aria-hidden="false" aria-labelledby="tab-tmpl"><pre><code>{<span class="hljs-meta"># template for a single article box #}</span>
&lt;article <span class="hljs-keyword">class</span>=<span class="hljs-string">"news-article {{class}}"</span>&gt;
	&lt;figure <span class="hljs-keyword">class</span>=<span class="hljs-string">"news-article__figure"</span>&gt;
		&lt;img src=<span class="hljs-string">"{{image}}"</span> alt=<span class="hljs-string">"Sports image"</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"news-article__img"</span>&gt;
	&lt;/figure&gt;
	&lt;div <span class="hljs-keyword">class</span>=<span class="hljs-string">"news-article__content"</span>&gt;
		&lt;h3 <span class="hljs-keyword">class</span>=<span class="hljs-string">"news-article__title"</span>&gt;{{title}}&lt;/h3&gt;
		&lt;p <span class="hljs-keyword">class</span>=<span class="hljs-string">"news-article__excerpt"</span>&gt;{{excerpt}}&lt;/p&gt;
		&lt;p <span class="hljs-keyword">class</span>=<span class="hljs-string">"news-article__tags"</span>&gt;{{tags}}&lt;/p&gt;
	&lt;/div&gt;
&lt;/article&gt;</code></pre></div>
		<div class="cl-tabs__panel" id="panel-style" role="tabpanel" aria-hidden="true" aria-labelledby="tab-style"><pre><code>.news-article {
	&amp;__figure {

	}
		&amp;__img {

		}

	&amp;__content {

	}
		&amp;__title {

		}
		&amp;__excerpt {

		}
		&amp;__tags {
			
		}
}</code></pre></div>
		<div class="cl-tabs__panel" id="panel-data" role="tabpanel" aria-hidden="true" aria-labelledby="tab-data"><pre><code>{
	<span class="hljs-attr">"title"</span>: <span class="hljs-string">"Lorem ipsum dolor."</span>,
	<span class="hljs-attr">"excerpt"</span>: <span class="hljs-string">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium distinctio molestias veniam consequatur ab quasi facilis nihil minus necessitatibus."</span>,
	<span class="hljs-attr">"image"</span>: <span class="hljs-string">"http://lorempixel.com/400/200/sports/"</span>,
	<span class="hljs-attr">"link"</span>: <span class="hljs-string">"#"</span>,
	<span class="hljs-attr">"tags"</span>: <span class="hljs-string">"sport"</span>
}</code></pre></div>
	</div>
			</div>
		</div>
	</section>
</div>

				</main>
				<aside class="clib__sidebar">
					<div class="cl-compnav" >
	<header class="cl-compnav__header">
		<h3 class="cl-compnav__title">
			Your components
			<span class="cl-badge">2</span>		</h3>
	</header>
	<div class="cl-compnav__filterbar">
		<input type="text" id="searchBox" class="cl-search" placeholder="Find a component..." autoFocus />		<ul class="cl-filter">
	<li class="cl-filter__item">
		<button class="cl-filter__button cl-filter__button--active">
			All
		</button>
	</li>
	<li class="cl-filter__item">
		<button class="cl-filter__button">
			Atoms
		</button>
	</li>
	<li class="cl-filter__item">
		<button class="cl-filter__button">
			Molecules
		</button>
	</li>
	<li class="cl-filter__item">
		<button class="cl-filter__button">
			Organisms
		</button>
	</li>
</ul>	</div>
	<nav class="cl-compnav__nav">
		<script>
			// inject searchable items in global scope
			var searchableItems = [["js-dependencies","","/components/js-dependencies.html"],["news-article","news-article","/components/news-article/news-article.html"]]
		</script>
		
		<ul id="searchResults" class="cl-compnav__list cl-compnav__list--hidden"></ul>
		
		<ul class="cl-resultlist">
	
</ul>	</nav>
</div>
				</aside>
			</div>
		</div>
		<div class="clib__container">
			<footer class="clib__footer"></footer>
		</div>
	</div>

	<!-- javascript goes here -->
	
	<script src="/assets/js/component-library/vendor/jquery-2.2.3.min.js"></script>
	<script src="/assets/js/component-library/vendor/iframify.js"></script>
	<script src="/assets/js/component-library/styleguide.js"></script>
	
	<script>
		var Iframe = (function () {
			var components = $('.st-folder__component')

			return {
				init: function () {
					if (!window.jQuery) {
						console.warn('Error: jQuery is not loaded')
						return
					}
					components.each(function () {
						return iframify(this, {

							'headExtra': '<link rel="stylesheet" type="text/css" href="/assets/css/style.css">',
							'bodyExtra': '


'
							// 'bodyExtra': '<script src="/assets/js/vendor/jquery-2.2.3.min.js"><\/script><script src="/assets/js/components.js"><\/script>'
						})
					})
				}
			}
		})()
		Iframe.init()
	</script>
</body>
</html>
