
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>news-article</title>
	<meta content="telephone=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">

	<!-- style -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	



</head>
<body>

<article class="news-article ">
	<figure class="news-article__figure">
		<img src="http://lorempixel.com/400/200/sports/" alt="Sports image" class="news-article__img">
	</figure>
	<div class="news-article__content">
		<h3 class="news-article__title">Lorem ipsum dolor.</h3>
		<p class="news-article__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium distinctio molestias veniam consequatur ab quasi facilis nihil minus necessitatibus.</p>
		<p class="news-article__tags">sport</p>
	</div>
</article>
	<script src="/assets/js/components.js"></script>
</body>
</html>