// body font size
body {
  font-size: 16px;
  line-height: 22px;
}

// John Doe
.canon {
  font-size: 52px;
  line-height: 62px;
}

// work experience / education / skills
.trafalgar {
  font-size: 36px;
  line-height: 40px;
}

// profession / contacts
.double-pica {
  font-size: 26px;
  line-height: 30px;
}
