{% include '00-atoms/title/title.twig' with {'tag': 'h1', 'type':'canon', 'title': 'Jane Doe'} %}
{% include '00-atoms/title/title.twig' with {'type': 'trafalgar', 'title': 'Work Experience'} %}
{% include '00-atoms/title/title.twig' with {'type': 'doublePica', 'title': 'contacts'} %}
<p>Some work experience mentioned here.</p>
